* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid #fff; */
}

.header-container {
  background-color: #1F2937;
  display: flex;
  padding: 19px;
}

.header {
  /* border: 1px solid white; */
  display: flex;
  flex: 1;
  justify-content: start;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  margin-left: 193px;
}

.links {
  /* border: 1px solid white; */
  color: #E5E7EB;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 211px;
  padding: 3px;
}

.header-link-one,
.header-link-two,
.header-link-three {
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 25px;
}

.hero-container {
  /* border: 1px solid white; */
  background-color: #1F2937;
  display: flex;
  padding-bottom: 140px;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 213px;
  margin-top: 100px;
}

.hero-main-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bold;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

.placeholder-image-container {
  color: #E5E7EB;
  display: flex;
  justify-content: end;
  margin-right: 229px;
  margin-top: -375px;
}

.placeholder-image {
  align-items: center;
  background-color: #6D747D;
  display: flex;
  height: 236px;
  justify-content: center;
  width: 520px;
}

.placeholder-text {
  /* border: red solid 1px; */
  font-size: 17px;
  font-weight: bold;
  padding-top: 12px;
  padding-right: 15px;
}

.signup-button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 8px 0px 8px 28px;
  margin-right: 1120px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
}

.navigation-menu-container {
  display: flex;
  justify-content: center;
}

.navigation-menu-text {
  margin-top: 190px;
  color: #1F2937;
  font-weight: bold;
  font-size: 36px;
}

.nav-menu-box-container {
  display: flex;
  justify-content: center;
}

.nav-menu-box-one,
.nav-menu-box-two,
.nav-menu-box-three,
.nav-menu-box-four {
  background-color: white;
  border: solid 4px #3882f6;
  margin-top: 30px;
  margin-left: 45px;
  padding: 80px;
  border-radius: 15px;
}

.nav-menu-text-container {
  display: flex;
  margin-left: 285px;
}

.nav-menu-text-one,
.nav-menu-text-two,
.nav-menu-text-three,
.nav-menu-text-four {
  color: #323333;
  margin-top: 9px;
  padding-left: 73px;
  text-align: center;
}

.quote-container {
  background-color:#e5e7eb;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: 100px 0px 100px 0px;
  padding-bottom: 50px;
}

.quote-item-one
{
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  margin: 100px 0px 100px 0px;
}

.quote-container-two {
  display: flex;
  justify-content: center;
}

.quote-item-two {
  color: #1F2937;
  font-weight: bold;
  font-size: 24px;
  margin-top: -250px;
  margin-left: 500px;
}

.bluebox-container {
  color: #f9faf8;
  background-color: #3882f6;
  display: flex;
  justify-content: start;
  border-radius: 7px;
  border: 1px solid #4390E1;
  height: 150px;
  margin: 0px 230px 90px;
}

.bluebox-signup-text-one {
  font-weight: bold;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 140px;
}

.bluebox-signup-text-two {
  margin-top: 80px;
  margin-left: -245px;
}

.bluebox-signup-button {
  font-size: 18px;
  align-self: center;
  font-weight: bold;
  border: 2px solid #f9faf8;
  margin-top: 60px;
  margin-left: 180px;
  margin-bottom: 60px;
  border-radius: 7px;
  padding: 8px 35px 8px 35px;
  cursor: pointer;
}

.footer-container {
  background-color: #1F2937;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
  
.footer-item {
  color: #f9faf8;
  font-size: 18px;
}